.form-container3{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    width: 500px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(117, 10, 31);
}
h1{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    color: #fff;
}
.control3 input{
    width: 100%;
    display: block;
    padding: 15px;
    color: #fff;
    background: none;
    border: none;
    border-bottom: 2px solid crimson;
    outline: none;
    margin: 1em 0;
    border-radius: 15px;
    transition: .1s ease-out;
}
.control3 input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: crimson;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .7;
    transition: opacity .3s ease;
    border-radius: 80px;
    cursor: pointer;
}
.control3 input:focus{
    outline: 1px solid crimson;
    font-size: 18px;
}
.control3 input[type="submit"]:hover{
    opacity: 1;
}
label{
    font-size: 1.2em;
    text-align: center;
    color: #fff;
}
@media screen and (max-width: 437px) {
    .form-container3{
        position: absolute;
        margin-top: 2px;
        width: 400px;
        z-index: 100;
    }
    .menu{
        position: relative;
        z-index: 200;
    }
}